In [1]:
import pandas as pd

In [2]:
#Challenge 1
df = pd.read_csv('earthquakes.csv')
df.sort_values(by='impact.magnitude', ascending=False).head(5)

,id,impact.gap,impact.magnitude,impact.significance,location.depth,location.distance,location.full,location.latitude,location.longitude,location.name,time.day,time.epoch,time.full,time.hour,time.minute,time.month,time.second,time.year
799,us100068jg,11.0,7.7,971,207.62,3.293,"28km SSW of Agrihan, Northern Mariana Islands",18.5439,145.5410,Northern Mariana Islands,29,1469827106510,2016-07-29 17:18:26,17,18,7,26,2016
6787,us10006exl,22.0,7.4,843,10.00,2.852,South Georgia Island region,-55.2793,-31.8740,South Georgia Island region,19,1471591942730,2016-08-19 03:32:22,3,32,8,22,2016
4998,us10006d5h,21.0,7.2,799,9.95,4.822,"109km E of Ile Hunter, New Caledonia",-22.4953,173.1114,New Caledonia,11,1470965195140,2016-08-11 21:26:35,21,26,8,35,2016
8002,us10006gbf,24.0,6.8,972,84.07,1.797,"25km W of Chauk, Burma",20.9192,94.5789,Burma,24,1472034895000,2016-08-24 06:34:55,6,34,8,55,2016
7223,us10006fik,52.0,6.4,630,10.00,2.916,South Georgia Island region,-55.2775,-31.7546,South Georgia Island region,20,1471751123740,2016-08-20 23:45:23,23,45,8,23,2016

In [6]:
#Challenge 2
s = df.groupby('location.name').size()
s.sort_values(ascending=False).head(10)

location.name
California                3609
Alaska                    2195
Nevada                     712
Hawaii                     225
Washington                 171
Puerto Rico                156
British Virgin Islands      98
Montana                     96
Oregon                      81
Oklahoma                    66
dtype: int64

In [7]:
#Challenge 3
s.sort_values(ascending=False).head(10).to_csv('top10_active_earthquake_locations.csv')